@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url(./contact.css);
@import url(./img.css);

* {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    letter-spacing: 0.01em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffff;

}

body {
    background-color: #272A2F;
    z-index: 0;
}

section {
    padding: 0 30px;
}

.header {
    position: fixed;
    background-color: #19849B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    top: 0;
    z-index: 5;
}

.header .logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 355px;
    margin-top: 109px;
}

.main .photo-main {
    width: 411px;
    margin-right: 68px;
}

.main-introduce {
    display: flex;
    flex-direction: column;
    width: 559px;
}

.main-introduce h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    border-bottom: 4px solid #19849B;
    padding-bottom: 15px;
}

.main-introduce h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.main-introduce p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.main-introduce button {
    background-color: #272A2F;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 293px;
    height: 50px;
    border-color: #ffff;
    margin-top: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 104px;
    margin-bottom: 99px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1038px;
}

.portfolio h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
}

.portfolio p {
    width: 75%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 28px;
}


.light {
    background-color: #19849B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 205px;
}

.light .small-photo {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 35px;
}

.footer-contact h6 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.footer-contact .tel-number {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}


.footer-contact .adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 6px;

}

.dark {
    background-color: #16758A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    height: 44px;
}

button:hover {
    border: none;
    background-color: #19849B;
    cursor: pointer;
}



@media screen and (max-width: 900px) {
    section {
        padding: 0 20px;
    }

    .main {
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .main .photo-main {
        width: 762px;
        height: 355px;
        object-fit: cover;
        margin-right: 0;
        margin-bottom: 65px;
    }

    .main .main-introduce {
        display: flex;
        justify-content: start;
        width: 762px;
    }

    .gallery {
        height: 100%;
        margin-bottom: 0;
    }

    .portfolio {
        display: flex;
        width: 766px;
    }

    .portfolio p {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {

    .main {
        flex-wrap: wrap;
        width: 100%;
    }

    .main .photo-main {
        width: 341px;
        height: 355px;
        object-fit: cover;
        margin-right: 0;
        margin-bottom: 65px;
    }

    .main .main-introduce {
        display: flex;
        width: 341px;
    }

    .main button {
        width: 341px;
    }

    .gallery {
        height: 100%;
        margin-top: 50px;
    }

    .portfolio {
        width: 341px;
    }

    .portfolio p {
        width: 341px;
    }
}